<h1>作业</h1>
<hr/>
<ul class="list">
    <li>
        <h2>标题</h2>
        <h3>Deadline</h3>
        <h4>操作</h4>
    </li>
    <li ng-repeat="hw in homework track by $index">
        <h2 title="{{hw.title}}"> {{hw.title}} </h2>
        <h3 title="{{hw.strict ? '严格':'宽松'}}"> {{hw.deadline*1000 | date : 'yyyy/M/d HH:mm'}} </h3>
        <h4>
            <label ng-click="showDetail($index)">
                <i>&#xe608</i>查看
            </label>
            <label ng-click="delHW($index)" ng-show="users.type==='teacher'">
                <i>&#xe604</i>删除
            </label>
        </h4>
        <p ng-bind-html="hw.problem" ellipsis="..."></p>
    </li>
</ul>

<div class="add" ng-show="users.type==='teacher'">
    <h1 ng-click="isEdit=!isEdit">添加作业</h1>
    <ul>
        <li ng-show="!isEdit" ng-click="isEdit=true">
            <i>&#xe602</i>
            <button>编辑</button>
        </li>
        <li ng-show="isEdit" ng-click="save()">
            <i>&#xe603</i>
            <button>保存</button>
        </li>
    </ul>
    <hr/>
</div>

<ul class="editor" ng-show="isEdit" [="isEdit">
    <li class="title">
        <h2>标题</h2>
        <input type="text" ng-model="newHW.title" focus-if="isEdit"/>
    </li>
    <li class="ddl">
        <h2>Deadline</h2>
        <div class="datepicker">
            <input date-time format="YYYY-MM-DD HH:mm" ng-model="newHW.deadline">
        </div>
        <label>
            <input type="checkbox" ng-model="newHW.strict"/>
            严格DDL
        </label>
    </li>
    <li class="problem">
        <h2>问题描述</h2>
        <textarea ckeditor="editorOptions" ng-model="newHW.problem" ></textarea>
    </li>
</ul>
