<link rel="stylesheet" href="/components/courses/courses.css"/>
<courses>
    <navbar></navbar>
    <div class="alert" flash-message="2000"></div>
    <main>
        <h1>课程列表</h1>
        <ul>
            <li ng-repeat="course in courses track by $index">
                <a class="course-name" href="javascript:void(0)" ng-click="showDetail(course._id)">{{course.name}}</a>
                <div class="operate" ng-show="users.type==='teacher'" >
                    <a href="javascript:void(0)">
                        <i> &#xe602 </i>
                        <span>编辑</span>
                    </a>
                    <span>|</span>
                    <a href="javascript:void(0)" ng-click="delCourse($index)">
                        <i> &#xe604 </i>
                        <span>删除</span>
                    </a>
                </div>
                <div class="teacher-name" ng-show="users.type==='student'">
                    {{course.teacher}}
                </div>
            </li>
            <li ng-show="users.type==='teacher'">
                <input type="text" placeholder="添加一门课..." ng-model="newName" required/>
                <span class="error" ng-show="errorDisplay">
                    <i> &#xe601 </i>
                    <span>{{errorMessage}}</span>
                </span>
                <div class="operate">
                    <a href="javascript:void(0)" ng-click="addCourse()">
                        <i> &#xe603 </i>
                        <span>保存</span>
                    </a>
                </div>
            </li>
        </ul>
    </main>
</courses>