course-main {
    display: block;
    min-width: 800px;
}

course-main > main {
    display: block;
    padding: 20px 40px 0 280px;
}

course-main > main hr {
    border: 0;
    height: 1px;
    background: #eee;
}


course-main > main > * {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

course-main > main > *  > h1 {
    font-size: 18px;
    font-family: Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    margin: 10px 0 0 0;
}



course-main > main > *  > button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    color: #10ae58;
    border: 0;
    font-size: 14px;
    margin: 15px 0 0 0;
}