course-main {
    display: block;
    min-width: 800px;
}

course-main > div[ui-view] {
    display: block;
    margin: 20px 40px 0 270px;
}

course-main > div[ui-view] hr {
    border: 0;
    height: 1px;
    background: #eee;
}


course-main > div[ui-view] > * {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

course-main > div[ui-view] > *  > h1 {
    font-size: 18px;
    font-family: Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    margin: 10px 0 0 0;
}
