<link rel="stylesheet" href="/components/course-main/course-main.css"/>

<course-main>
    <navbar></navbar>
    <course-aside></course-aside>
    <main>
        <div ui-view></div>
    </main>

    <!--<main>-->
        <!--<course-teacher ng-show="param==='teacher'" ></course-teacher>-->
        <!--<course-intro-sched ng-show="param==='intro'" param="intro" users="users"></course-intro-sched>-->
        <!--<course-intro-sched ng-show="param==='sched'" param="sched" users="users"></course-intro-sched>-->
        <!--<course-students ng-show="param==='students'"></course-students>-->
        <!--<course-ware ng-show="param==='ppt'"></course-ware>-->
        <!--<homework ng-show="param==='homework'"></homework>-->
        <!--<course-posts ng-show="param==='posts'"></course-posts>-->
        <!--<course-detail ng-show="param==='detail'"></course-detail>-->
    <!--</main>-->
</course-main>


