<link rel="stylesheet" href="/components/login/login.css"/>
<login>
    <div class="wrap">
        <header>
            <i>&#xe600;</i>
        </header>
        <main>
            <input type="text" class="username" placeholder="学号/教工号" ng-model="username" required/>
            <input type="password" class="password" placeholder="密码" ng-model="password" required/>
            <input type="checkbox" checked/>
            <span>自动登陆</span>
            <a href="javascript:void(0)">忘记密码?</a>
            <input type="submit" value="登 录" ng-click="submit()"/>
            <div class="img"></div>
            <div class="error" ng-show="errorMessage">
                <i>&#xe601;</i>
                <span>{{errorMessage}}</span>
            </div>
        </main>
    </div>
</login>

