<link rel="stylesheet" href="/components/course-aside/course-aside.css"/>

<div class="picture"></div>
<div class="process"></div>
<ul>
    <li ui-sref="course.teacher" ng-class="{active: param==='teacher'}" ng-show="users.type==='student'">教师介绍</li>
    <li ui-sref="course.intro" ng-class="{active: param==='intro'}">课程介绍</li>
    <li ui-sref="course.sched" ng-class="{active: param==='sched'}">教学计划</li>
    <li ui-sref="course.students" ng-class="{active: param==='students'}" ng-show="users.type==='teacher'">学生管理</li>
    <li ui-sref="course.ware" ng-class="{active: param==='ware'}">课件</li>
    <li ui-sref="course.homework" ng-class="{active: param==='homework'}">作业</li>
    <li ui-sref="course.posts" ng-class="{active: param==='posts' || param==='detail'}">讨论区</li>
</ul>
<a href="">帮助中心</a>
