navbar {
    display: block;
}

navbar > .padding {
    height: 40px;
    padding: 10px 0;
}


navbar > .wrap {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: block;
    height: 40px;
    padding: 10px 0;
    background: rgb(248, 248, 248);
    border: 1px solid #ccc;
    min-width: 800px;
}


navbar > .wrap i {
    display: inline-block;
    vertical-align: middle;
}

navbar > .wrap > .zju {
    width: 300px;
    height: 40px;
    border-right: 1px solid #ccc;
    background: url("//o5ryrw40v.qnssl.com/zju.png") center no-repeat;
}


navbar > .wrap > title {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 30px;
    cursor: pointer;
}