<post-list>
    <div class="alert" flash-message="2000"></div>

    <h1>{{!isEdit?"讨论区":"发表新帖"}}</h1>
    <button class="topBtn" ng-click="newPost()" ng-show="!isEdit">发表新帖</button>
    <button class="topBtn" ng-click="backForum()" ng-show="isEdit">返回讨论区</button>
    <ul class="filterTab">
        <li ng-class="{active:filtId===1}" ng-click="filterPost('createdAt')">最新发表</li>
        <li ng-class="{active:filtId===2}" ng-click="filterPost('updatedAt')">最新更新</li>
        <li ng-class="{active:filtId===3}" ng-click="filterPost('countReply')">回复数</li>
    </ul>
    <hr/>
    <span ng-show="(!isEdit&&length===0)">欢迎大家来到讨论区！本讨论区供各位同学就课程问题进行交流学习。</span>
    <ul class="list" ng-show="!isEdit">
        <li ng-repeat="post in posts track by $index">
            <a ui-sref="course.postDetail({post_id: post._id})">
                {{post.title}}
                <span ng-if="post.isTop" class="topTag">置顶</span>
            </a>
            <label>{{post.userName}} &nbsp;&nbsp;&nbsp;发表于 {{post.createdAt | date : 'yyyy/M/d HH:mm'}}  &nbsp;&nbsp;&nbsp;最后更新 {{post.updatedAt | date:'yyyy/M/d HH:mm'}}</label>
            <div class="right">
                <label>浏览：{{post.countRead}}</label>
                <label>点赞：{{post.countLike}}</label>
                <label>回复：{{post.countReply}}</label>
            </div>
        </li>
    </ul>

    <div class="add" ng-show="isEdit">
        <ul class="editor">
            <li>
                <h2>标题</h2>
                <input ng-model="new.title" type="text"/>
            </li>
            <li>
                <h2>内容</h2>
                <textarea ckeditor="editorOptions" ng-model="new.content"></textarea>
            </li>
            <li>
                <button ng-click="add()">发表</button>
            </li>
        </ul>

    </div>
</post-list>
