http404 {
    display: block;
    text-align: center;
}

http404 > h1 {

}

http404 > .ctn {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

http404 #splash {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0;
    left:0;
    opacity: 0;
    display:none;
    z-index: 2;
    text-align: right;
    float: right;
}

http404 #splash a {
    font-family: Verdana;
    font-size: 12pt;
    text-decoration: none;
    color: #323330;
    margin: 40px;
    line-height: 4;
}

http404 #game-canvas {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid silver;
    background-color:#000;
}