<link rel="stylesheet" href="/components/main/main.css"/>
<link rel="stylesheet" href="/bower_components/angular-carousel/dist/angular-carousel.min.css"/>

<main>
    <div class="logo">
        <a ng-show="!users" href="javascript:void(0)" class="login" ng-click="login()">登 录</a>
        <usericon ng-show="users"></usericon>
    </div>


    <ul class="carousel"
        rn-carousel
        rn-carousel-auto-slide="4"
        rn-carousel-controls
        rn-carousel-duration="500"
        rn-carousel-controls-allow-loop
        rn-carousel-transition="zoom">
        <li ng-repeat="image in images">
            <div style="background-image: url('{{image}}')"></div>
        </li>
    </ul>
    <ul class="link">
        <li>友情链接：</li>
        <li><a href="http://jwbinfosys.zju.edu.cn/default2.aspx">教务管理系统</a></li>
        <li><a href="http://cspo.zju.edu.cn">计算机学院</a></li>
        <li><a href="http://www.cc98.org">CC98</a></li>
    </ul>
</main>
