main-page {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    min-width: 700px;
}

main-page > .logo {
    height: 60px;
    line-height: 60px;
    background: url('//o5ryrw40v.qnssl.com/logo.png') no-repeat left;
    text-align: right;
}

main-page > .logo > .login {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    background: #ff9600;
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
}

main-page > .carousel {
    height: 500px;
}

main-page > .carousel > li {
    height: 100%;
    width: 100%;
    display: inline-block;
    background: center no-repeat;
}


main-page > .carousel > li > background-image {
    display: block;
    height: 100%;
    background: center no-repeat;
}

main-page > .link {
    margin: 50px auto 50px auto;
    padding: 0;
    display: block;
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

main-page > .link > li {
    display: inline-block;
    border-right: 1px solid #666;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}

main-page > .link > li:last-child,
main-page > .link > li:first-child {
    border-right: 0;
    padding-right: 0;
}

main-page > .link > li > a {
    font-size: 12px;
    color: #10ae58;
    text-decoration: none;
}
